[submodule "scripts/qo-prism"]
	path = scripts/qo-prism
	url = https://github.com/QoLang/qo-prism.git
[submodule "style/prism-apprentice"]
	path = style/prism-apprentice
	url = https://github.com/Camroku/prism-apprentice
